<% provide(:title, "All transcripts") %>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="content-border">
      <h1>All Transcripts</h1>

      <%= will_paginate %>

      <ul class="transcripts">
        <%= render @transcripts %>
      </ul>

      <%= will_paginate %>
    </div>
  </div>
</div>
