<li>
  <%= link_to user.name, user %> - <%= user.party_id %>
  <% if current_user.admin? && !current_user?(user) %>
  <!-- Below, only admins have delete keys -->
    | <%= link_to "delete", user, method: :delete, data: { confirm: "You sure?" } %>
  <% end %>
</li>
