<% provide(:title, "Home") %>

<main>
  <div class="container" id='login' data-toggle='modal' data-target='#login-modal'>

    <div id='title_div'>
      <h1>Welcome to PoliTate</h1>
      <div id='subtitle_div'><h3>crowd-sourced annotations of political transcripts</h3></div>
    </div>

  </div>
</main>

