<% provide(:title, "Home") %>


<div id='title_div'><h1>Welcome to PoliTate</h1></div>
<div id='subtitle_div'><h3>crowd-sourced annotations of political transcripts</h3></div>
<div id='start_links'><strong>
  <span id='login' data-toggle='modal' data-target='#login-modal'>Login</span>
  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
  <%= link_to "Register", new_user_path %>
</strong></div>




