<!-- Only renders if errors exist -->
<% unless @user.nil? %>
<% if @user.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <!-- Prints the number of errors -->
      The form contains <%= pluralize(@user.errors.count, "error") %>.
    </div>
    <ul>
    <!-- Goes through each error and prints the message from tests -->
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<% end %>
