<% provide(:title, @annotation.transcript.title) %>
<% content_for :for_head2 do %>
  <style>
    body{
      background-color: #B6B6B6;
    }
  </style>
  <script>
    var ready;
    ready = function() {
      $('.user').on("click", function(event) {
        window.top.location.href = '/users/<%= @annotation.user.id %>';
      })
      $('.citation').on("click", function(event) {
        window.top.location.href = 'http://<%= @annotation.link %>';
      })

    }

    $(document).ready(ready);
    $(document).on('hi, world', ready)
  </script>
<% end %>

<br>
<p class="anno_comment"><%= @annotation.comment %></p>

<p class="anno_link citation">Citation</p>
<hr>
<p class="anno_link user"><%= @annotation.user.name %></p>


