/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Eventually I need to clean this up or split it into sep files      */

@import "bootstrap-sprockets";
@import "bootstrap";

/* Mixins and variables */
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

 // for debug message box

/* Site styles */
body{
  background-color: blue;
  color: white;
  font-family: 'Montserrat', sans-serif;
}
.miss_header{
  margin-top: 100px;
}
.black_text{
  color: black;
}

/* Modal styles */
.modal-content{
  background-color: grey
}
.modal-header{
  text-align: center;
}



/* Index page */
#title_div{
  margin-top: 20%;
}
h1{
  font-size: 70px;
  text-weight: bold;
  text-align: center;
}
#subtitle_div{
  text-align: center;
}
h3{
  font-size: 30px;
  margin-bottom: 30px;
}
#start_links{
  text-align: center;
}
#for_admin{
  margin: 0 auto;
  margin-top: 300px;
  width: 500px;
  text-align: center;
}
a{
  font-size: 15px;
  color: white;
}
.f_right{
  color: blue;
}

/* Show page */
#prof_image_div{
  width: 100%;
  height: 250px;
  border: 2px solid black;
}
#prof_image{
  width: 100%;
  height: 100%;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* logo */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

/* forms (This whole section is copied from the Hartl Rails tutorial) */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}
input {
  height: auto !important; // da fuck?
}
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}
.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* transcripts */

.transcripts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
}

/* Words */
span:hover{
  cursor: pointer;
}
.pointer{

  &:hover{
    cursor:pointer
  }
}
.red_text{
  color: red;
}
.yellow_text{
  background-color: yellow;
}


/* miscellaneous */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

