/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Eventually I need to clean this up or split it into sep files      */
@import "bootstrap-sprockets";
@import "bootstrap";


/* Mixins and variables */
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


/* Sitewide styles */
body{
  background-color: #004687;
  color: black;
  font-family: 'Montserrat', sans-serif;
}
.content-border{
  border: 1px solid black;
  padding: 30px;
  background-color: #B6B6B6;
  margin: 10px 0 50px 0;
}
h1{
  text-align: center;
  text-decoration: underline;
}
a{
  color: darkblue;
}
.pagination ul{
  width: 100%;

}

/* Modal and navbar styles */
.modal-content{
  background-color: #4e5964;
  color: white;
}
.modal-sm{
  margin-top: 200px;
}
.modal-header{
  text-align: center;
}
.navbar{
  .dropdown-toggle{
    color: white;
  }
}
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}


/* forms (This whole section is copied from the Hartl Rails tutorial) */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}
input {
  height: auto !important; // da fuck?
}
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}
.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
.col-md-6{
  font-size: 15px;
  margin: 1px;
  a{
    color: black;
  }
}
.form-border{
  border: 1px solid black;
  padding: 30px;
  background-color: #B6B6B6;
  margin: 30px 0;
}


/* Welcome page */
main {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.70) 0%, rgba(0, 0, 0, .70) 100%), url('http://i.imgur.com/kCy5u6T.jpg');
  margin: -30px -140px -80px -140px;
  background-size: 100% 100%;
  color: white;
}
#title_div{
  margin: 28% 12%;
  text-align: center;
  h1{
    font-size: 80px;
    text-weight: bold;
  }
  #subtitle_div{
    text-align: center;
    h3{
      font-size: 40px;
      margin-bottom: 30px;
    }
  }
}


/* Transcript Show page */
#show_tran{
  button, h5{
    display: inline-block;
    margin: 0 5px;
  }
  hr{
    border-color: black;
  }
  h3{
    text-align: center;
  }
}
#annotate-box{
  height: 500px;
  width: 30%;
  position: fixed;
  overflow: scroll;
  h3{
    text-decoration: underline;
    text-align: center;
  }
}
iframe{
  border:none;
}
span:hover{
  cursor: pointer;
}
.pointer{

  &:hover{
    cursor:pointer
  }
}
.red_text{
  color: red;
  text-decoration: underline;
}
.yellow_text{
  background-color: yellow;
}


/* Annotation show page */
.anno_comment{
  font-size: 16px;
}
.anno_link{
  color: blue;
  &:hover{
    cursor: pointer;
  }
}


/* User show page */
#prof_box{
  h1{
    font-size: 45px;
    text-decoration: none;
  }
  hr{
    border-color: black;
  }
  h4{
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
  }
  .col-md-4{
    padding-left-left: 25px;
    font-size: 18px;
    .labe{
      text-decoration: underline;
    }
  }
}
#prof_image_div{
  width: 100%;
  height: 350px;
  border: 2px solid black;
}
#prof_image{
  width: 100%;
  height: 100%;
}

/* transcripts */
.transcripts {
  list-style: none;
  padding: 0;
  h3, h5{
    margin: 0;
    padding: 10px;
    text-align: left;
  }
  h3{
    font-size: 25px;
  }
  li {
    padding: 10px;
    border-bottom: 1px solid black;
  }
  p {
    display: block;
    padding-left: 30px;
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }

}

/* Transcripts Index */










/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}








/* miscellaneous */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}






/* New User page */
/* Edit User page */
/* Login page */
/* New Annotation page */
/* New Transcript page */
